<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <property name="DEV_HOME" value="D:/Logs/homeFellowship" />
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>
    
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PID}: %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>  
        <file>${DEV_HOME}/error-${byDay}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--            <Pattern>
                %-4relative [%thread] %-5level %logger{35} - %msg%n
            </Pattern>-->
            <pattern>%-4relative [%thread] %-5level  %class{36}.%M %L  - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/error.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern> 
            <!-- each file should be at most 10MB, keep 60 days worth of history, but at most 2GB -->
            <maxFileSize>10MB</maxFileSize>    
            <maxHistory>60</maxHistory>
            <totalSizeCap>2GB</totalSizeCap> 
        </rollingPolicy>

    </appender>

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <file>${DEV_HOME}/info-${byDay}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--            <Pattern>
                %-4relative [%thread] %-5level %logger{35} - %msg%n
            </Pattern>-->
            <pattern>%-4relative [%thread] %-5level  %class{36}.%M %L  - %msg%n</pattern>
     
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/info.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern> 
            <!-- each file should be at most 10MB, keep 60 days worth of history, but at most 2GB -->
            <maxFileSize>10MB</maxFileSize>    
            <maxHistory>60</maxHistory>
            <totalSizeCap>2GB</totalSizeCap> 
        </rollingPolicy>

    </appender>
    
    <appender name="htmlAppender" class="ch.qos.logback.core.FileAppender">
        <file>${DEV_HOME}/htmlLog-${byDay}.html</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%thread%level%logger%msg</pattern>
            </layout>
        </encoder>
    </appender> 

    <!-- Specify logging levels -->
    <logger name="org.springframework" level="debug"/>
 	<logger name="org.hibernate" level="warn"/>
    <logger name="com.portal.homeFellowship" level="debug"> 
        <appender-ref ref="FILE-AUDIT" /> 
        <appender-ref ref="console" /> 
        <appender-ref ref="htmlAppender" />
    </logger>  
      
         
    <root level="error">
        <appender-ref ref="FILE-ERROR"/>
    </root>
</configuration>
